
<div class="container">
  <nav>
    <ul>
      <li> coffee </li>
      <li> tea </li>
      <li> orange juice </li>
      <li> tomato juice </li>

    </ul>
  </nav>
<div class="column">
    <section>
      这是第1个section
    </section>
    <section>
      这是第2个section
    </section>
    <section>
      这是第3个section
    </section>
</div>
</div>


<form class="loginBox">


     <input type="text" name="username" placeholder="username">

    <input type="text" name="password" placeholder="password" >

  <input type="button" VALUE="LOGIN"
         onclick="href='#'">

  <div style="background:white;text-align:center; padding:0px 10px 10px 10px;">
    Not registered? <a href="'#'">Create an account</a>
  </div>

</form>
