<p>第一个例子</p>
<hr>
<div class="flexContainer">
  <div class="redBox">
    一个正方形红盒子
  </div>
  <div class="redBox">
    一个正方形红盒子
  </div>
  <div class="redBox">
    一个正方形红盒子
  </div>
  <div class="redBox">
    一个正方形红盒子
  </div>
</div>

<p>第二个例子</p>
<hr>

<div class="flexContainerAuto">
  <button class="btn-light"> VIP集训营 </button>
  <button class="btn-light"> 课程 </button>
  <button class="btn-light"> 微课堂 </button>
</div>

<p>第三个例子</p>
<hr>

<div style="display: flex; justify-content: space-around">
  <button class="btn-outline-secondary" style="width: 300px"> VIP集训营 </button>
  <button class="btn-outline-secondary" style="width: 300px"> 课程 </button>
  <button class="btn-outline-secondary" style="width: 300px"> 微课堂 </button>
</div>

<p>第四个例子</p>
<hr>

<div style="display: inline-block">
  <button class="btn-outline-secondary" style="width: 300px; margin-left: 100px"> VIP集训营 </button>
  <button class="btn-outline-secondary" style="width: 300px; margin-left: 100px"> 课程 </button>
  <button class="btn-outline-secondary" style="width: 300px; margin-left: 100px"> 微课堂 </button>
</div>

<hr>

<div>
<div style="border: 5px red solid" class="col-12">
  占据12格子
</div>

<div style="border: 5px red solid" class="col-3">
  占据3格子
</div>

  <div style="border: 5px red solid" class="col-6 offset-3">
    占据3格子
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
