<div class = "background" >

  <div class="title">
    <p style="font-size:20px; color:white">
      美国硅谷一线工程师在线直播授课，为你打开IT名企大门,如果关上了咋办呢？
    </p>
  </div>
  <p class="title" style="font-size:10px">
    美国硅谷一线工程师在线直播授课，为你打开IT名企大门,如果关上了咋办呢？
  </p>
  <div style="display:flex;justify-content:center;border:2px solid black">
    <div class="box">
      看看这个block
    </div>
    <div class="box">
      看看这个block
    </div>
    <div class="box">
      看看这个block
    </div>
    <div class="box">
      看看这个block
    </div>
    <div class="box">
      看看这个block
    </div>
  </div>


</div>

