<div class="connn">
  <div class="leftBox">
    <ul class="leftcontext">
      <li>Home</li>
      <li>Taco Menu</li>
      <li>Draft List</li>
      <li>Hours</li>
      <li>Directions</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="sect">
    <mark style="background: gainsboro; font-size: smaller;" >section</mark> 的 <mark style="background: gainsboro;font-size: smaller;">margin-left</mark> 样式确保了有足够的空间容纳 <mark style="background: gainsboro;font-size: smaller;">nav</mark> 元素
  </div>
  <div class="section2">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas
    nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet, Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a
    lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dugnissm ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget
    tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapobus pulvinar nibh tempor porta. Cras ac leo piris. Mauris quis diam velit.
  </div>
  <div class="sect">
    注意观察当你调整浏览器窗口时发生了什么。效果很赞！
  </div>
</div>


