
.connn{
  display: inline-block;
  border-bottom: 4px solid mediumseagreen;
  border-top: 4px solid mediumseagreen;
  border-left: 4px solid mediumseagreen;
  border-right: 4px solid mediumseagreen;
  width: 100%;
}

.leftBox{
  width: 200px;
  height: 200px;
  position: absolute;
  border-bottom:5px solid mediumvioletred;
  border-top: 5px solid mediumvioletred;
  border-left: 5px solid mediumvioletred;
  border-right: 5px solid mediumvioletred;
}
.leftcontext{
  top: 20px;
  position: relative;
  padding-left: 50px;
  list-style-type: disc;
  color: mediumvioletred;
}
.sect{
  margin-left: 200px;
  height: 70px;
  border-bottom: 4px solid gold;
  border-top: 4px solid gold;
  border-left: 4px solid gold;
  border-right: 4px solid gold;
  padding-top: 18px;
  padding-left: 12px;

}
.section2{
  margin-left: 200px;
  height: 120px;
  border-bottom: 4px solid gold;
  border-top: 4px solid gold;
  border-left: 4px solid gold;
  border-right: 4px solid gold;
  padding-top: 5px;
  padding-left: 12px;
  display: inline-block;
  background: gainsboro;

}
